# Import Dependencies

In [1]:
# Dependencies and Setup
import pandas as pd

# Data Retrieval Logic

In [2]:
# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_of_pymoli_df = pd.read_csv(file_to_load)
heroes_of_pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Calculate the total number of players
* Display the total number of players

In [3]:
# Calculate the total number of players
player_amounts = len(heroes_of_pymoli_df['SN'].value_counts())

# Create a dataframe to display the results
Total_Players = pd.DataFrame({"Total Players": [player_amounts]})
Total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Calculate Number of Unique Items
* Calculate the Average Purchase Price
* Calculate the Total Number of Purchases
* Calculate the Total Revenue
* Create, clean and display a summary data frame for the results

In [14]:
# Calculate the number of unique items, average purchase price, total number of purchases, and total revenue
unique_items = len(heroes_of_pymoli_df['Item ID'].value_counts())
average_price = heroes_of_pymoli_df['Price'].mean()
number_of_purchases = heroes_of_pymoli_df['SN'].count()
total_revenue = heroes_of_pymoli_df['Price'].sum()

# Create a dataframe to display the results
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                      'Average Price': [average_price],
                                      'Number of Purchases': [number_of_purchases],
                                      'Total Revenue': [total_revenue]})
# Format the results as currency 
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map('${:,.2f}'.format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map('${:,.2f}'.format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Group the data by Gender
* Calculate the Percentage and Count of Male Players
* Calculate the Percentage and Count of Female Players
* Calculate the Percentage and Count of Other / Non-Disclosed
* Create, clean and display a summary data frame for the results

In [5]:
# Group the Heroes of Pymoli data by gender
gender_group = heroes_of_pymoli_df.groupby(['Gender'])

# Count the total number of unique items(SN) by gender
gender_totals = gender_group.nunique()['SN']
gender_totals

count_gender = gender_totals.sum()
count_gender

# Calculate the percentage of genders
percentage_of_players = gender_totals / count_gender * 100
percentage_of_players

# Create a dataframe to display results 
gender_demographics = pd.DataFrame({'Percentage of Players': percentage_of_players,
                                    'Total Count': gender_totals})
gender_demographics.sort_values(['Total Count'],
                               ascending = False).style.format({'Percentage of Players':'{:.2f}%'})


## Purchasing Analysis (Gender)

* Calculate the Purchase Count
* Calculate the Average Purchase Price
* Calculate the Total Purchase Value
* Calculate the Average Purchase Total per Person by Gender
* Create, clean and display a summary data frame for the results

In [6]:
# Count the total purchased per gender
purchase_count = gender_group['Purchase ID'].count()

# Calculate the average purchase price per gender
average_purchase_price = gender_group['Price'].mean()

# Calculate the total purchase value per gender
total_purchase_per_gender = gender_group['Price'].sum()

# Calculate the average purchase total per person by gender
average_purchase_per_person = total_purchase_per_gender / gender_totals

# Create a dataframe to display the results 
gender_statistics_df = pd.DataFrame({'Purchase Count': purchase_count,
                                     'Average Purchase Price': average_purchase_price,
                                     'Total Purchase Value': total_purchase_per_gender,
                                     'Average Purchase Total Per Person': average_purchase_per_person
                        })

# Format the results as currency
gender_statistics_df.style.format({'Average Purchase Price':'${:,.2f}',
                                   'Total Purchase Value':'${:,.2f}',
                                   'Average Purchase Total Per Person':'${:,.2f}'
                                  })

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins
* Calculate the numbers and percentages by age group
* Create, clean and display a summary data frame for the results

In [10]:
# Age Min and Max
heroes_of_pymoli_df['Age'].min()
heroes_of_pymoli_df['Age'].max()

# Establish bins for ages
age_bins = [0,9,14,19,24,29,34,39,49]

# Categorize existing players using age bins 
age_group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
heroes_of_pymoli_df['Age Group'] = pd.cut(heroes_of_pymoli_df['Age'], age_bins, labels = age_group_names)
heroes_of_pymoli_df

# Display dataframe with age group, grouping
age_group = heroes_of_pymoli_df.groupby('Age Group')

# Calculate total players by age group
age_group_total = age_group['SN'].nunique()

count_age = age_group_total.sum()

# Calculate the percentages per age group
percentage_by_age = age_group_total / count_age * 100

# Create a dataframe to display the results 
gender_statistics_df = pd.DataFrame({'Percentage of Players': percentage_by_age,
                                     'Total Players': age_group_total
                                    })

# Format the results as currency
gender_statistics_df.style.format({'Percentage of Players': '{:.2f}%'})

## Purchasing Analysis (Age)

* Calculate the Purchase Count
* Calculate the Average Purchase Price
* Calculate the Total Purchase Value
* Calculate the Average Purchase Total per Person by Gender
* Create, clean and display a summary data frame for the results

In [11]:
# Calculate total purchase per age group
purchase_count_by_age = age_group['Purchase ID'].count()

# Calculate the average purchase price per age group
average_purchase_price_age = age_group['Price'].mean()

# Calculate the total purchase value per age group
total_purchase_per_age_group = age_group['Price'].sum()

# Calculate the average purchase total per person by age group
average_purchase_per_person_age = total_purchase_per_age_group / age_group_total

# Create a dataframe to display the results 
gender_statistics_df = pd.DataFrame({'Purchase Count': purchase_count_by_age,
                                     'Average Purchase Price': average_purchase_price_age,
                                     'Total Purchase Value': total_purchase_per_age_group,
                                     'Average Purchase Total Per Person': average_purchase_per_person_age
                                    })

# Format the results as currency
gender_statistics_df.style.format({'Average Purchase Price':'${:,.2f}',
                                   'Total Purchase Value':'${:,.2f}',
                                   'Average Purchase Total Per Person':'${:,.2f}'
                                  })

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [21]:
# Group by unique identifier
spenders_df = heroes_of_pymoli_df.groupby('SN')

# Calculate purchase count, average purchase price and total purchase value
top_purchase_count = spenders_df['Purchase ID'].count()
top_avg_price = spenders_df['Price'].mean()
top_total_purchase = spenders_df['Price'].sum()

# Create dataframe to display results 
top_spenders_analysis_df = pd.DataFrame({'Purchase Count': top_purchase_count,
                                         'Average Purchase Price': top_avg_price,
                                         'Total Purchase Value': top_total_purchase
                                        })

# Sort in descending order and print top 5 spenders
Top_Spenders = top_spenders_analysis_df.sort_values(['Total Purchase Value'], ascending = False).head()

#Format the results as currency
Top_Spenders.style.format({'Average Purchase Price':'${:,.2f}',
                           'Total Purchase Value':'${:,.2f}'
                          })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Create, clean and display a summary data frame for the results

In [22]:
#Create dataframe for most popular items
items_df = heroes_of_pymoli_df.groupby(['Item ID', 'Item Name', 'Price'])

KeyError: 'Item Price'

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame