# Import Dependencies

In [6]:
# Dependencies and Setup
import pandas as pd

# Data Retrieval Logic

In [41]:
# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_of_pymoli_df = pd.read_csv(file_to_load)
heroes_of_pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Calculate the total number of players
* Display the total number of players

In [42]:
# Calculate the total number of players
player_amounts = len(heroes_of_pymoli_df['SN'].value_counts())

# Create a dataframe to display the results
Total_Players = pd.DataFrame({"Total Players": [player_amounts]})
Total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Calculate Number of Unique Items
* Calculate the Average Purchase Price
* Calculate the Total Number of Purchases
* Calculate the Total Revenue
* Create, clean and display a summary data frame for the results

In [43]:
# Calculate the number of unique items, average purchase price, total number of purchases, and total revenue
unique_items = len(heroes_of_pymoli_df['Item ID'].value_counts())
average_price = heroes_of_pymoli_df['Price'].mean()
number_of_purchases = heroes_of_pymoli_df['SN'].count()
total_revenue = heroes_of_pymoli_df['Price'].sum()

# Create a dataframe to display the results
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                      'Average Price': [average_price],
                                      'Number of Purchases': [number_of_purchases],
                                      'Total Revenue': [total_revenue]})
# Format the results as currency 
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map('${:,.2f}'.format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map('${:,.2f}'.format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Group the data by Gender
* Calculate the Percentage and Count of Male Players
* Calculate the Percentage and Count of Female Players
* Calculate the Percentage and Count of Other / Non-Disclosed
* Create, clean and display a summary data frame for the results

In [44]:
# Group the Heroes of Pymoli data by gender
gender_group = heroes_of_pymoli_df.groupby(['Gender'])

# Count the total number of unique items(SN) by gender
gender_totals = gender_group.nunique()['SN']
gender_totals

count_gender = gender_totals.sum()
count_gender

# Calculate the percentage of genders
percentage_of_players = gender_totals / count_gender * 100
percentage_of_players

# Create a dataframe to display results 
gender_demographics = pd.DataFrame({'Percentage of Players': percentage_of_players,
                                    'Total Count': gender_totals})
gender_demographics.sort_values(['Total Count'],
                               ascending = False).style.format({'Percentage of Players':'{:.2f}%'})


## Purchasing Analysis (Gender)

* Calculate the Purchase Count
* Calculate the Average Purchase Price
* Calculate the Total Purchase Value
* Calculate the Average Purchase Total per Person by Gender
* Create, clean and display a summary data frame for the results

In [51]:
# Count the total purchased per gender
purchase_count = gender_group['Purchase ID'].count()

# Calculate the average purchase price per gender
average_purchase_price = gender_group['Price'].mean()

# Calculate the total purchase value per gender
total_purchase_per_gender = gender_group['Price'].sum()

# Calculate the average purchase total per person by gender
average_purchase_per_person = total_purchase_per_gender / gender_totals

# Create a dataframe to display the results 
gender_statistics_df = pd.DataFrame({'Purchase Count': purchase_count,
                         'Average Purchase Price': average_purchase_price,
                         'Total Purchase Value': total_purchase_per_gender,
                         'Average Purchase Total Per Person': average_purchase_per_person
                        })

# Format the results as currency
gender_statistics_df.style.format({'Average Purchase Price':'${:,.2f}',
                                   'Total Purchase Value':'${:,.2f}',
                                   'Average Purchase Total Per Person':'${:,.2f}'
                                  })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame